/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******* */
html {
    font-family: 'Raleway', sans-serif;

}

#mainContain{
    display:flex;
    height: 100vh;
    
}

.visualSide{
    height: 100%;
    flex-basis: 30%;
    background-image: url(./asset/lenstravelier-unsplash_wlogo.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-grow:0;
    min-width: 450px;
}

.credit{
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    /* border: 1px red solid; */
}

.credit a{
    color: rgb(230, 118, 14);
}

.formSide{
    /* background-color: rgb(233, 222, 202); */
    background-color: #fc8f2294;
    --padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emphasis{
    font-style: italic;
}

.desire{
    margin-top: 1.3em;
    margin-bottom: 2em;
}

.promote{
    padding: var(--padding-left);
    font-weight: 600;
    font-size: 1.4em;
}

.formDiv{
    background-color: #373c42;
    color: white;
    font-weight: 400;
    box-shadow: 0px 5px 7px 0px  #214572bd;
}

.inputsDiv{
    margin: 25px;
    display: flex;
    max-width:100%;
    flex-wrap:wrap;
    column-gap: 2em;
    row-gap: 1.5em;
    padding-bottom: 25px;
}

.inputGroup{
    display:flex;
    flex-direction: column;
    flex-basis: 33%;
}

.hype{
    font-weight:500;
    font-size: 1.3em;
    padding: 25px 25px 0 25px;
}

label{
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
}

input{
    background-color: rgb(255, 255, 210);;
}

input:focus{
    /* height: 1.5rem; */
    margin-top: 5px;
    outline-color: orange;
}

button{
    background-color: #373c42;
    color: rgb(255, 255, 210);
    width: min(50%, 200px);
    height: 30px;
    margin: 0 0 25px 25px;
    font-weight: 700;
    box-shadow: 0px 5px 7px 0px  #214572bd;
}

button:hover{
    background-color: #373c42e5;
}

button:active{
    background-color: orange;
    color: black;
}

input:invalid:focus{
    outline-color: red;
    outline-style: dashed;
}


.haveAccount{
    padding-left: var(--padding-left);
    font-weight: 500;
}

.haveAccount a{
    text-decoration: none;
    font-weight: 700;
    color:#373c42;
}

/* Main things to add:
> media query for small screens 
    >> reduce row gap
    >> use a narrower photo OR rotate ODIN photo 90 degrees and take it to the top
    >> reduce font size for promote and hype text before form
> implement password matching validation on javascript */